.jumbotron {
    background-color: green;
}

.header {
    text-align: center;
    font-family: sans-serif;
}

#pic {
    height: 10%;
    width:2%;
}

.toppings {
    margin-top: 20px;
    margin-bottom: 20px;
}

.order-containers2, .order-containers3 {
    display: none;
}

#output {
    margin-top: 20px;
}

#outputText, #outputText2, #outputText3, #outputText4 {
    text-decoration: underline;
    font-weight: bold;
}


p {
    display: none;
}

.footer {
    background-color: red;
    height: 250px;
    max-width: 100%;
    margin-top: 20px;
}
